@import '../styles/variables.scss';

#app {
    .categories {
        max-width: $max-width-content;
        width: 90%;
        margin: auto;

        h2 {
            text-align: start;
            width: 100%;
            color: $color-main-red;
            text-shadow: -2px -2px $color-gold, 2px 2px $color-gold, 2px 2px $color-gold, -2px -2px $color-gold;
            font-family: Bangers;
            font-size: 3rem;
        }

        .category {
            max-width: $max-width-content;
            border: 2px solid $color-gold;
            padding: 0 1rem 1rem;
            margin-bottom: 1rem;

            h3 {
                text-align: center;
                width: 100%;
                font-size: 2rem;
                color: $color-main-red;
            }

            .cat-main {
                display: flex;

               
            }

            img {
                width: 30%;
                margin-right: 3%;
                height: 100%;
            }

            .cat-text {
                width: 66%;
                p {
                    margin-top: 0;
                    text-align: justify;
                }

                .cat-aux {
                    display: grid;
                    a {
                        color: $color-gold;
                        text-decoration: none;
                        cursor: pointer;
                        margin-top: 1rem;
                    }
    
                    a:hover {
                        color: $color-main-red;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 550px) {
	#app {
        .categories {
            .category {
                .cat-main {
                    display: block;
                }

                img {
                    width: 100%;
                    margin-right: 0;
                }

                .cat-text {
                    width: 100%;

                    p {
                        margin-top: 1rem;
                        font-size: 1rem;
                        line-height: 1.5rem;
                    }
                }

                h3 {
                    text-align: center;
                    width: 100%;
                    font-size: 1.5rem;
                    color: $color-main-red;
                }
            }

            h2 {
                text-align: start;
                font-size: 2rem;
            }
        }
    }
}
