#app .categories {
    max-width: var(--max-width-content);
    width: 90%;
    margin: auto;
}

#app .categories h2 {
    text-align: start;
    width: 100%;
    color: var(--color-main-red);
    text-shadow: -2px -2px var(--color-gold), 2px 2px var(--color-gold), 2px 2px var(--color-gold), -2px -2px var(--color-gold);
    font-family: Bangers;
    font-size: 3rem;
}

#app .categories .category {
    max-width: var(--max-width-content);
    border: 2px solid var(--color-gold);
    padding: 0 1rem 1rem;
    margin-bottom: 1rem;
}

#app .categories .category h3 {
    text-align: center;
    width: 100%;
    font-size: 2rem;
    color: var(--color-main-red);
}

#app .categories .category .cat-main {
    display: flex;
}

#app .categories .category img {
    width: 30%;
    margin-right: 3%;
    height: 100%;
}

#app .categories .category .cat-text {
    width: 66%;
}

#app .categories .category .cat-text p {
    margin-top: 0;
    text-align: justify;
}

#app .categories .category .cat-text a {
    color: var(--color-gold);
    text-decoration: none;
    cursor: pointer;
}

#app .categories .category .cat-text a:hover {
    color: var(--color-main-red);
    text-decoration: underline;
}

@media screen and (max-width: 550px) {
	#app .categories .category .cat-main {
        display: block;
    }
    
    #app .categories .category img {
        width: 100%;
        margin-right: 0;
        height: fit-content;
    }
    
    #app .categories .category .cat-text {
        width: 100%;
    }

    #app .categories .category .cat-text p {
        margin-top: 1rem;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    #app .categories h2 {
        text-align: start;
        font-size: 2rem;
    }

    #app .categories .category h3 {
        text-align: center;
        width: 100%;
        font-size: 1.5rem;
        color: var(--color-main-red);
    }
}
