@import '../styles/variables.scss';

#app .details {
    max-width: $max-width-content;
    width: 90%;
    margin: 1rem auto;
}

#app .details h2 {
    text-align: start;
    width: 100%;
    color: $color-main-red;
    text-shadow: -2px -2px $color-gold, 2px 2px $color-gold, 2px 2px $color-gold, -2px -2px $color-gold;
    font-family: Bangers;
    font-size: 3rem;
}

#app .details h3 {
    text-align: start;
    width: 100%;
    font-size: 2rem;
    color: $color-gold;
}

#app .details ul li {
    color: $color-main-text;
    font-size: 1.25rem;
}

#app .details img {
    width: 48%;
    margin-top: 1rem;
}

#app .details .block-title {
    display: flex;
}

#app .details #casco {
    max-width: 4rem;
    height: 4rem;
    margin-top: 2.25rem;
    margin-right: 1rem;
}

#app .details img:nth-child(1) {
    margin-right: 4%;
}

#app .details .block-img {
    display: flex;
}

#app .details .block-img #catMainImg4 {
    max-width: 300px;
}



@media screen and (max-width: 550px) {
    #app .details img {
        width: 100%;
        margin: auto;
    }
    #app .details p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    #app .details h2 {
        font-size: 2rem;
    }

    #app .details h3 {
        font-size: 1.5rem;
    }

    #app .details .block-img {
        display: block;
    }

    #app .details img:nth-child(1) {
        margin-bottom: 20px;
    }

    #app .details #casco {
        max-width: 4rem;
        height: 4rem;
        margin-top: 2rem;
        margin-right: 1rem;
    }
}

@media 
  (-webkit-min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi) { 
    #catMainImg1{
        background-image: url("../assets/images/cat-70s_detail_x2.jpeg");
    }
    #catMainImg2{
        background-image: url("../assets/images/cat-80s_detail_x2.jpeg");
    }
    #catMainImg3{
        background-image: url("../assets/images/cat-00s_detail_x2.jpeg");
    }
    #catMainImg4{
        background-image: url("../assets/images/cat-10s_detail_x2.jpeg");
    }
}