@import '../styles/variables.scss';

#app .details {
    max-width: $max-width-content;
    width: 90%;
    margin: 1rem auto;
}

#app .details h2 {
    text-align: start;
    width: 100%;
    color: $color-main-red;
    text-shadow: -2px -2px $color-gold, 2px 2px $color-gold, 2px 2px $color-gold, -2px -2px $color-gold;
    font-family: Bangers;
    font-size: 3rem;
}

#app .details h3 {
    text-align: start;
    width: 100%;
    font-size: 2rem;
    color: $color-gold;
}

#app .details ul li {
    color: $color-main-text;
    font-size: 1.25rem;
}

#app .details img {
    width: 50%;
    margin: 0 25%;
    margin-top: 1rem;
}

@media screen and (max-width: 550px) {
    #app .details img {
        width: 100%;
        margin: auto;
    }
    #app .details p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    #app .details h2 {
        font-size: 2rem;
    }

    #app .details h3 {
        font-size: 1.5rem;
    }
}