@import '../styles/variables.scss';

#app {
    .home {
        .heroe-home{
            background-image: url("../assets/images/heroe-biography_x15.webp");
            background-position-x: center;
            background-repeat: no-repeat;
            background-size: cover;
            max-width: 100%;
            min-height: 500px;
            height: 50vh;
            display: flex;
            align-items: center;

            h2 {
                text-align: center;
                width: 100%;
                color: $color-main-red;
                text-shadow: -2px -2px $color-gold, 2px 2px $color-gold, 2px 2px $color-gold, -2px -2px $color-gold;
                font-family: Bangers;
                font-size: 3rem;
            }
            
        }

        p {
            max-width: $max-width-content;
            width: 90%;
            margin: 1rem auto;
        }

        .margin-top {
            margin-top: 3rem;
        }

        .imgPicture {
            margin: auto;
            display: block;
            max-width: 1350px;
            width: 90%;
        }


        .iron-clip {
            max-width: 1350px;
            width: 90%;
            margin: 1rem auto;

            img {
                width: 25%;
                height: 25vw;
            }
        }

        .imgI {
            clip-path: polygon(10% 0%, 90% 0%, 90% 20%, 66% 20%, 66% 80%, 66% 80%, 90% 80%, 90% 100%, 10% 100%, 10% 80%, 33% 80%, 33% 20%, 10% 20%);
        }

        .imgR {
            clip-path: polygon(10% 0%, 90% 0%, 66% 0%, 90% 10%, 90% 40%, 66% 50%, 90% 100%, 60% 100%, 40% 65%, 40% 100%, 10% 100%);
        }

        .imgO {
            clip-path: polygon(10% 10%, 30% 0%, 70% 0%, 90% 10%, 90% 90%, 70% 100%, 30% 100%, 10% 90%);
        }

        .imgN {
            clip-path: polygon(10% 0%, 30% 0%, 60% 40%, 60% 0%, 90% 0%,  90% 100%, 65% 100%, 40% 60%, 40% 100%, 10% 100%);
        }
    } 
}

@media screen and (max-width: 550px) {
    #app {
        .home {
            p {
                font-size: 1rem;
                line-height: 1.5rem;
            }   
        }
    }
}

@media 
  (-webkit-min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi) { 
    .heroe-home{
        background-image: url("../assets/images/heroe-biography_x2.webp");
    }
}