#app .home .heroe-home{
    background-image: url("../assets/images/heroe-biography.jpeg");
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    min-height: 500px;
    height: 50vh;
    display: flex;
    align-items: center;
    
}

#app .home .heroe-home h2 {
    text-align: center;
    width: 100%;
    color: var(--color-main-red);
    text-shadow: -2px -2px var(--color-gold), 2px 2px var(--color-gold), 2px 2px var(--color-gold), -2px -2px var(--color-gold);
    font-family: Bangers;
    font-size: 3rem;
}

#app .home p {
    max-width: var(--max-width-content);
    width: 90%;
    margin: 1rem auto;
}

#app .home .margin-top {
    margin-top: 3rem;
}

@media screen and (max-width: 550px) {
    #app .home p {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}