@import '../styles/variables.scss';

#app {
    .presentation {
        max-width: $max-width-content;
        width: 90%;
        margin: auto;

        h2 {
            text-align: start;
            width: 100%;
            color: $color-main-red;
            text-shadow: -2px -2px $color-gold, 2px 2px $color-gold, 2px 2px $color-gold, -2px -2px $color-gold;
            font-family: Bangers;
            font-size: 3rem;
        }

        .iframeVideo {
            text-align: center;
            padding: 2rem 0;
        }

        .iframeVideo iframe{
            margin: auto;
        }

        svg {
            width: 50%;
            display: block;
            margin: auto;
        }

        @keyframes opacityTrans {
            0% { 
              opacity: 0;         
            }
            100% { 
              opacity: 1; 
              fill: $color-main-red;
            }
        }
          
        @keyframes scaleTrans {
            0% {
              transform: scale(0.95) rotate(0deg);
              fill: $color-main-red;
            }
            50% {
              transform: scale(1.0) rotate(180deg);
              fill: $color-gold;
            }
            100% {
              transform: scale(0.95) rotate(360deg);
              fill: $color-main-red;
            }
        }
          
        #exterior {
            fill: $color-main-red;
            opacity: 1;
            animation: opacityTrans 5s ease;
        }
          
        #interior {
            transform: scale(0.95);
            transform-origin: center;
            animation: scaleTrans 3s ease infinite;
            animation-delay: 5s;
        }
    }
}

@media screen and (max-width: 550px) {
	.iframeVideo iframe{
        width: 100%;
    }
}