@import './variables.scss';

body {
	background-color: $color-bg;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: 0;
}

#app {
	border-top: 1px solid $color-gold;
}

@keyframes opacityTransMain {
	0% { 
	  opacity: 0;         
	}
	100% { 
	  opacity: 1; 
	}
}

.home, .categories, .presentation, .links, .details {
	opacity: 1;
	animation: opacityTransMain 1.5s ease;
}

#header {
	text-align: center;
}

#header img, #footer img {
	max-width: 50px;
	margin: 1rem auto 0;
}

#header h1 {
	font-family: Bangers;
	font-size: 4rem;
	margin: 1rem;
    text-align: center;
	color: $color-main-red;
    text-shadow: -2px -2px $color-gold, 2px 2px $color-gold, 2px 2px $color-gold, -2px -2px $color-gold;
}

#header ul {
	list-style: none;
    padding: 0;
    text-align: center;
    width: 100%;
}

#header ul li {
	display: inline;
    padding: 1rem 2rem;
	text-transform: uppercase;
	cursor: pointer;
	font-family: Marvel;
    font-weight: bold;
	color: $color-gold;
    font-size: 1.25rem;
}

#header ul li .menu-item {
	font-size: 16px;
	margin-right: 5px;
}

#header ul li:hover {
	text-decoration: underline;
    color: $color-main-red;
}

p {
	color: $color-main-text;
	font-size: 1.25rem;
}

#footer {
	background: $color-main-red;
    text-align: center;
    padding: 3rem 0;
    margin-top: 3rem;
	color: $color-gold;
}

#footer p {
	color: $color-gold;
}

#footer ul {
	text-align: center;
    padding: 0;
}

#footer li {
	display: inline;
	font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
	font-family: Marvel;
}

#footer li:after {
	content: " · ";
}

#footer li:nth-child(4):after {
	content: " ";
}

#footer li:hover {
	font-weight: bold;
	font-size: 1.6rem;
}

@media screen and (max-width: 550px) {
	#header ul li {
		display: block;
		padding: 0.25rem 2rem;
		font-size: 1rem;
	}
}