@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$color-bg: #1a1a1a;
$color-main-red: #AA0505;
$color-secondary-red: #6A0C0B;
$color-gold: #B97D10;
$color-yellow: #FBCA03;
$color-light-blue: #67C7EB;
$color-main-text: #dadada;
$max-width-content: 1350px;


